/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}
/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* Scroll To Bottom */
#codepen,
#portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i,
#portfolio i {
  line-height: 56px;
}
#codepen:hover,
#portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #ed2553;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}
/* Container */
.dvp-login-container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.dvp-login-container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.dvp-login-container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.dvp-login-container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.dvp-login-container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform .3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.dvp-login-container.active .card.alt .toggle:before {
  content: '';
}
.dvp-login-container.active .card.alt .title,
.dvp-login-container.active .card.alt .input-container,
.dvp-login-container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.dvp-login-container.active .card.alt .title {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}
.dvp-login-container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
.dvp-login-container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}
.dvp-login-container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
  transition-delay: .6s;
}
.dvp-login-container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
  transition-delay: .7s;
}
/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ed2553;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: #ed2553;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before,
.card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
  transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before,
.card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ed2553;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ed2553;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover,
.card .button-container button:active,
.card .button-container button:focus {
  border-color: #ed2553;
}
.card .button-container button:hover span,
.card .button-container button:active span,
.card .button-container button:focus span {
  color: #ed2553;
}
.card .button-container button:active span,
.card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before,
.card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card.alt .toggle {
  position: relative;
  background: #ed2553;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f21b';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before,
.card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ed2553;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before,
.card.alt .button-container button:focus:before {
  display: none;
}
/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
/*variables*/
/**
* Flexo fonts
*/
@font-face {
  font-family: 'Flexo';
  src: url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-Regular-webfont.svg#flexoregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo';
  src: url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoItalic-FlexoRegular/Flexo-It-webfont.svg#flexoitalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo';
  src: url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoBold-FlexoBlack/Flexo-Bold-webfont.svg#flexobold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo-Demi';
  src: url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Demi-webfont.svg#flexodemi') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo-Heavy';
  src: url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoDemi-FlexoHeavy/Flexo-Heavy-webfont.svg#flexoheavy') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo-Light';
  src: url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoThin-FlexoLight/Flexo-Light-webfont.svg#flexolight') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo-Medium';
  src: url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoMedium/Flexo-Medium-webfont.svg#flexomedium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Flexo-Medium';
  src: url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.eot');
  src: url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.eot?#iefix') format('embedded-opentype'), url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.woff2') format('woff2'), url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.woff') format('woff'), url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.ttf') format('truetype'), url('../../fonts/webfontkit-FlexoMedium/Flexo-MediumIt-webfont.svg#flexomedium_italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
}
/* dvp Primary palette */
/* dvp Secondary palette */
/* dvp Other palette */
html {
  height: 100%;
}
a {
  text-decoration: underline ;
  color: #f2f2f2;
}
a:Hover {
  color:#f37d30;
}
.dvp-body {
  margin: 0;
  padding: 0;
  font-family: 'Flexo';
  height: 75%;
  color: #4e4f55;
  text-align: left;
  background-color: #f1f1f1;
}
/* fin de variables*/
/* layout*/
@media only screen and (min-width: 768px) {
  header {
    top: 34px;
    border-top: 0px;
  }
}
@media only screen and (min-width: 992px) {
  header {
    top: 34px;
    border-top: 0px;
  }
}
.dvp-header-container {
  position: fixed;
  width: 100%;
}
.dvp-header-container .dvp-blue-header-container {
  position: absolute;
  width: 100%;
  z-index: 8888889;
  height: 67px;
}
.dvp-header-container .dvp-blue-header-container #dvp-header-layout {
  border-radius: 0px;
  border: 0px;
}
@media only screen and (min-width: 768px) {
  .dvp-header-container .dvp-blue-header-container #dvp-header-layout {
    background-color: black;
  }
}
.dvp-header-container .dvp-blue-header-container #dvp-header-layout .dvp-header-layout-logo {
  height: 67px;
}
.dvp-header-container .dvp-blue-header-container #dvp-header-layout .dvp-header-layout-logo a {
  margin-left: 20px;
}
@media only screen and (min-width: 768px) {
  .dvp-header-container .dvp-blue-header-container #dvp-header-layout .dvp-header-layout-logo a img {
    margin-top: 15px;
  }
}
.dvp-header-container .dvp-blue-header-container #dvp-header-layout .dvp-header-layout-button {
  float: right;
  position: relative;
  margin-top: 12px;
}
.dvp-header-container .dvp-blue-header-container #dvp-header-layout .dvp-header-layout-button a {
  margin-right: 40px;
}
.dvp-panel {
  margin-top: 67px;
  margin-bottom: 48px;
  display: flex;
  top: 0;
  bottom: 0;
  height: auto;
  position: absolute;
  width: 100%;
}
.dvp-panel-div {
  width: 50%;
  background-color: #FFFFFF;
}
#panel-primary {
  border-color: transparent;
}
.dvp-panel-portada {
  background: url(/images/justicia.png) no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-color: white; 
  height: 100%;
  width: 100% ;
}
.dvp-panel-text {
  margin: 56% 0px 30px 45px;
  padding: 10px;
  font-family: 'Flexo';
  font-weight: bold;
  font-size: 50px;
  color: #FFFFFF;
}
.dvp-panel-text p {
  margin: -25px 0px;
}
.dvp-panel-chat {
  height: 100%;
  width: 100% ;
}
.dvp-panel-detalle {
  background-color: #f2f2f2;
  height: 100%;
  width: 100% ;
  font-family: 'Flexo';
  display: none;
}
.dvp-panel-detalle-x {
  font-weight: bold;
  font-size: 55px;
  text-align: right;
}
.dvp-panel-detalle-x a {
  color: black;
  text-decoration: none;
}
.dvp-panel-detalle-parrafo {
  margin: 0px 0px 0px 45px;
  overflow-y: auto;
  height: 80%;
  padding-right: 25px;
}
.dvp-panel-detalle-parrafo-titulo {
  font-weight: bold;
  font-size: 18px;
}
.dvp-panel-detalle-parrafo-subtitulo {
  font-weight: bold;
  font-size: 15px;
}
.dvp-panel-detalle-parrafo-descripcion {
  font-size: 15px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  font-family: 'Arial';
  font-size: 10px;
}
.dvp-footer-container {
  z-index: 9999999;
  position: fixed;
  width: 100%;
}
.dvp-footer-container .dvp-dark-gray-footer-container {
  position: absolute;
  width: 100%;
  z-index: 8888889;
  height: 48px;
}
.dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout {
  border-radius: 0px;
  border: 0px;
}
@media only screen and (min-width: 768px) {
  .dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout {
    background-color: black;
  }
}
.dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout .dvp-footer-layout-sign {
  float: right;
  position: relative;
  display: flex;
  margin-right: 40px;
}
.dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout .dvp-footer-layout-sign .p1 {
  margin-top: 22px;
  color: #f1f1f1;
}
.dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout .dvp-footer-layout-sign .p2 {
  margin-top: 22px;
  color: #FFFFFF;
  font-weight: bold;
}
.dvp-footer-container .dvp-dark-gray-footer-container #dvp-footer-layout .dvp-footer-layout-sign img {
  margin: 4px 5px 10px;
}
/* fin de layout*/
/* componentes reutilizables*/
.dvp-btn {
  width: 176px;
  height: 42px;
  border-radius: 5px;
  font-family: 'Flexo';
  font-weight: bold;
  font-size: 17px;
  padding: 9px 30px;
  border: 1px solid #FFFFFF;
}
.dvp-blue-button {
  background-color: black;
  color: #FFFFFF;
}
.dvp-blue-button:hover {
  color: #FFFFFF;
  background-color: #f37c2f;
  border: 1px solid #f37c2f;
}
/*fin de componentes reutilizables*/
